@model IEnumerable<TicketViewModel>
@section CSS{
    <link rel="stylesheet" href="~/css/tickets.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}

@{
    <div class="search-bar">
        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="tickets-container">
        @{
            foreach (var ticket in Model)
            {
                <div class="card">
                    <img class="ticket-img" src="@ticket.Path" alt="@ticket.Name" style="width: 100%">
                    <h1>@ticket.Name</h1>
                    <p class="price">@ticket.Price</p>
                    <p>@ticket.Description</p>
                    <p><button class="ticket-button" onclick="window.location.href ='/Tickets/Buy?id=@ticket.Id'">Buy</button></p>
                </div>
            }
        }
    </div>
}
