@model IEnumerable<Beyond.Models.Ticket.TicketViewModel>
@section CSS{
    <link rel="stylesheet" href="~/css/tickets.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
}

@{
    
    <div class="search-bar">
        <div class="example" >
            <input id="search" type="text" placeholder="Search.." name="search">
            <button type="button" onclick="Search()"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="tickets-container">
        @{
            if (!Model.Any())
            {
                <h1>No Available Tickets</h1>
            }
            else
            {
                foreach (var ticketViewModel in Model)
                {
                    <div class="card">
                        <img class="ticket-img" src="@ticketViewModel.Path" alt="@ticketViewModel.Name" style="width: 100%">
                        <h1>@ticketViewModel.Name</h1>
                        <p class="price">@ticketViewModel.Price</p>
                        <p>@ticketViewModel.Date</p>
                        <p>@ticketViewModel.LaunchSite</p>
                        @if(@ticketViewModel.TicketsLeft!=0)
                        {
                        <p><button class="ticket-button" onclick="window.location.href ='/Tickets/Buy?id=@ticketViewModel.Id'">Buy</button></p>
                        }else
                        {
                        <p><button type="button" class="ticket-button ticket-button-disabled" style="" disabled onclick="window.location.href ='/Tickets/Buy?id=@ticketViewModel.Id'">Sold out!</button></p>
                        }
                        
                        <p>tickets left : @ticketViewModel.TicketsLeft</p>
                    </div>
                } 
            }
            
        }
    </div>
    @section Scripts{
        <script src="/js/search.js"></script>
    }
}
