@model IEnumerable<MyTicketViewModel>

@section CSS
{
    <link rel="stylesheet" href="/css/orders.css">
}

<div class="wrap cf" style="color: white;">
    <h1 class="projTitle">Beyond The Shopping Cart</h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a asp-action="All" asp-controller="Tickets" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
        <table style="width: 100%;">
            <tr>
                <th class="th-cart">Product</th>
                <th class="th-cart">Serial Number</th>
                <th class="th-cart">Date</th>
                <th class="th-cart">Time</th>
                <th class="th-cart">Seat</th>
                <th class="th-cart">Price</th>
                <th class="th-cancel">Cancel</th>
            </tr>
            @{
                foreach (var x in Model)
                {
                    <tr>
                        <td class="td-cart">
                            <div class="cartSection">
                                <h3>@x.Name</h3>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p class="itemNumber">@x.SerialNumber</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Departure.ToLongDateString()</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Departure.ToLongTimeString()</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.SeatNumber</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Price</p>
                            </div>
                        </td>
                        <td class="td-cancel">
                            <div class="cartSection removeWrap">
                                <a asp-action="Delete" asp-route-id="@x.Id" asp-controller="Tickets" class="remove">x</a>
                            </div>
                        </td>
                    </tr>
                }
            }
           
        </table>
    </div>
</div>
@section Scripts
{
    @*<script src="/cartJS.js"></script>*@
}