@model IEnumerable<Beyond.Models.DTOs.Output.EditVehicleViewModel>
@section CSS
{
    <link rel="stylesheet" href="/css/sideBar.css">
    <link rel="stylesheet" href="/css/orders.css">
}
<partial name="_ControlNavigationPartial"></partial>
<div class="wrap cf" style="color: white;">
    <h1 class="projTitle">Edit Vehicle Page</h1>
    <div class="heading cf">
        <h1>All Vehicles</h1>
    </div>
    <div class="cart">
        <table style="width: 100%;">
            <tr>
                <th class="th-cart">Name</th>
                <th class="th-cart">Speed</th>
                <th class="th-cart">Pilot</th>
                <th class="th-cart">Serial N.</th>
                <th class="th-cart">Seat</th>
                <th class="th-cart">Departure</th>
                <th class="th-cart">Arrival</th>
                <th class="th-cart">Destination</th>
                <th class="th-cart">Launch Site</th>
                <th class="th-cancel">Edit</th>


            </tr>
            @{
                foreach (var x in Model)
                {
                    <tr>
                        <td class="td-cart">
                            <div class="cartSection">
                                <h3>@x.Name</h3>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p class="itemNumber">@x.Speed</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Pilot.Name</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.SerialNumber</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Seats</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Departure</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Arrival</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.Destination.Name</p>
                            </div>
                        </td>
                        <td class="td-cart">
                            <div class="prodTotal cartSection">
                                <p>@x.LaunchSite</p>
                            </div>
                        </td>
                        <td class="td-cancel">
                            <div class="cartSection removeWrap">
                                <a asp-action="Vehicle" asp-route-id="@x.Id" asp-route-pilotId="@x.Pilot.Id" asp-controller="Edit" class="remove">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            }
           
        </table>
    </div>
</div>